@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin */
@font-face {
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Lusitana-Regular.ttf') format('woff2');
  }
  /* latin */
@font-face {
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/Lusitana-Bold.ttf') format('woff2');
}

input,
select,
button {
  outline: none;

}